.mainContainer {
	height: 100vh;
	overflow: hidden;
}

.scrollableSection{
	overflow-y: auto;
	overflow-x: hidden;
}

.scroll4::-webkit-scrollbar {
	width: 7px;
}

.scroll4::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 15px;
}

.scroll4::-webkit-scrollbar-track {
	background: #ddd;
	border-radius: 15px;
}
